
# Framework principal
Django==5.1.2

# Banco de dados PostgreSQL
psycopg2-binary==2.9.9

# Criação de APIs REST
djangorestframework==3.15.2

# Configurações com variáveis de ambiente (.env)
python-decouple==3.8

# Permitir comunicação entre backend e frontend (CORS)
django-cors-headers==4.4.0

# Manipulação de imagens (caso precise)
Pillow==11.0.0

# Documentação automática de API (Swagger)
drf-yasg==1.21.7

# Qualidade e formatação de código
black==24.10.0
flake8==7.1.1
